$turquoise: #4D96A9;
$purple: #855FB1;
$navy: #28283D;
$gray: #87879D;
$lightblue: #8FE3F9;
$lightpurple: #D9B8FF;
$white: #FAFAFA;

$defaultFont: 'Red Hat Display', sans-serif, Arial, Helvetica;

$title: 64px;
$subHeader: 42px;
$smallHeader: 20px;
$paragraph: 18px;

$heavy: 900;
$regular: 500;